h1 {
    text-align: center;
    color: white;
}

input {
    font-size: 24px;
}

label {
    font-size: 24px;
    color: white;
}

button {
    width: 30%;
}

body{
   background-image: url(https://tse1.mm.bing.net/th?id=OIP.o2nj6P9ZSjNqIkc84MtifAHaFa&pid=Api&P=0&h=180); 
}